
/* ==============Layout section================ */

body{
    background-color: #9c9c9f84;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 14px;
}

#header{
    background-color: #5c755e;
    margin: 10px;
    height: 90px;
    border-radius: 5px;
}
#navbar ul{
    padding: 5px;
    list-style-type: none;
    background-color: black;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}
#navbar ul li{
    display: inline;
}
#navbar ul li a{
    text-decoration: none;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: .2em 1em;
    border-radius: 5px;
    margin-right: 30px;
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
}
.main{
    background-color: #e5e4d7;
    margin-right: 330px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px; 
    font-size: 110%;
}
/* ==============Headings section================ */
h1{
    font-size: 120%;
    color: #ce282e;
}
h2{
    font-size: 120%;
    color: darkblue;
}
h3{
    font-size: 250%;
    text-align: center;
    color: #e5e4d7;
    font-family: "Century Gothic";

    position: relative;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.sideright{
    background-color: #e5e4d7;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px; 
    font-size: 110%;
    float: right;
    width: 260px ;
    clear: right;
}
.imagesidebar{
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px; 
    float: right;
    width: 300px ;
    clear: right;
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
}
.imagesidebar:hover{
    opacity: 0.6;
}
/* ==============footer section================ */
#footer{
    text-align: center;
    background-color: #5c755e;
    height: 60px;
    margin: 10px;
    border-radius: 5px;
    clear: both;
}
#footer ul{
    text-align: center;
    padding: 5px;
    list-style-type: none;
    margin: 10px;
    border-radius: 5px;
}
#footer ul li{
    display: inline;
    margin-right: 20px;
}
#footer ul li a{
    
    text-decoration: none;
    background-color: #5c755e;
    font-family: Arial, Helvetica, sans-serif;
    color: #efe5d0;
    border-radius: 5px;
}
#footer ul li a:hover{
    background-color: white;
    color: black;
}
